# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# IDE
.idea/
.vscode/

# Credenciais - NUNCA versionar
google-services.json
GoogleService-Info.plist
*.env
